<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
    <bean>定义spring所管理的对象
    id：该对象唯一标识不能重复,在通过类型获取bean的过程中可以不设置
    class：此对象所属类的包名+类名
    -->
    <bean id="person" class="com.spring.mod.Person">
        <!--
            <property>:为对象的某个属性赋值
            name：属性名
            value：属性值
        -->
        <property name="name" value="8"></property>
        <property name="id" value="8"></property>
    </bean>


    <bean id="person2" class="com.spring.mod.Person">
        <!--
            <property>:为对象的某个属性赋值
            name：属性名
            value：属性值
        -->
        <property name="name" value="18"></property>
        <property name="id" value="118"></property>
    </bean>
</beans>